Datasets/mdc/lrm_*
Datasets/xinchuan
Datasets/mcc/mnist_*
Datasets/mcc/CIFAR-10*
*.csv
uci_run.jar
manager.jar
out_*
out/
models/
*_results/
verbose_out/
/bin
*.png
*.tab
*.out
*.err
.project
.classpath
.settings
